<table>
    <tbody>
        <tr><th>Power Bi settings</th>
        <td>
            <input type="text" id="settings_power_bi_default"
             value="<%= settings['power_bi_default'] %>"
             name="settings[power_bi_default]" >
        </td>
        </tr>
    </tbody>
</table>